[Desktop Entry]
Type=Application
Name=Suwayomi-Launcher
Comment=Manga Reader
Exec=/usr/bin/suwayomi-launcher "\\$@"
Icon=suwayomi-server
Terminal=false
Categories=Network;
